* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./Images/background-image.jpg');
}



.container {
    background: transparent;
    background-color: #00141fb3;
    color: #ffffff;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    box-shadow: 0 0 5px #00141fc1;
}



.input-box {
    height: 90px;
    width: 300px;
    padding: .5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.input {
    border: none;
    border-radius: .2em;
    padding: .4em;
    outline: none;
}

.input-text {
    border: 1px solid rgba(82, 236, 82, 0.941);
}

.input-text:hover, .input-text:focus {
    border: 1.5px solid rgb(149, 255, 10);
    box-shadow: 0 0 5px  rgb(149, 255, 10);
}

.input-password {
    border: 1px solid rgba(243, 71, 71, 0.833);
}

.input-password:hover, .input-password:focus {
   border: 1.5px solid rgba(243, 71, 71, 0.833);   
   box-shadow: 0 0 5px rgba(243, 71, 71, 0.833);
}

.btn {
    cursor: pointer;
    border: none;
    border-radius: .2em;
    padding: .5em;
    margin-top: .4em;
    width: 100%;
    background-color: #00aaff40;
    color: white;
}

.btn:hover{
    background-color: #00aaff80;
    box-shadow: 0 0 5px #00aaff80;
}


.msg {
    font-size: .7rem;
}

.success {
    color: rgba(82, 236, 82, 0.941);
}

.wrong {
    color: rgba(243, 71, 71, 0.833);
}