body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.header {
    background-color: #069;
    color: white;
 }

 .header-title {
    margin: 0;
    text-align: center;
    padding: 1rem;
 }

 .section {
    padding: 1rem 2rem;
 }

 .section-accent {
    background-color: #069;
    color: white;
 }

 .section-content {
    padding-left: 1rem;
 }

 .skill-section {

    font-size: 1.2rem;
    font-style: italic;

 }

 .project-section,  .skill-section {
    list-style: none;
    margin: 0;
 }

 .project-section {
    color: #777;
 }

 .project-item-list {
    margin-bottom: 1rem;
 } 

 .project-item-list:last-child {
   margin-bottom: 0;
 }

 .contact-section {
   margin: 2rem 0;
 }

 .input {
   border: 1px solid;
   outline: none;
   padding: .5rem;
   font-size: 1rem;
   font-family: inherit;
   line-height: inherit;
 }

 .input:focus {
   border-color: #069;
   box-shadow: 0 0 5px 0 #069;
 }

.input-no-resize {
   resize: none;
 }

 .btn {
   outline: none;
   cursor: pointer;
   padding: .7rem .4rem;
   background-color: #069;
   border: 1px solid #069;
   color: white;
   border-radius: .2rem;
 }

  .btn:hover {
   background-color: hsl(200, 100% 10%);
   box-shadow: 0 0 5px 0 hsl(200,100%, 10%);
  } 

  footer {
   background-color: #069;
   text-align: center;
   color: white;
   font-size: 1.25rem;
   padding: 1.5rem;
  }