* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #555;
}

.modal {
    height: 80vh;
    width: 900px;
    max-width: 80%;
    background-color: white;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 0 1rem;
    border-bottom: 1px solid #555;
    padding-bottom: .5rem;
    display: flex;
    justify-content: space-between;

}

.title{
    font-size: 1.5rem;
    padding-top: .5rem;
}

.close-btn {
    background: none;
    border: none;
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: bold;
    margin: 0;
    padding: 0;
    align-self: flex-start;
 
}

.body {
    flex-grow: 1;
    overflow: auto;
    padding: 1.5rem;
}

.footer {
    display: flex;
    justify-content: flex-end;
    padding: .5rem;
    border-top: 1px solid #555;
}

.footer .btn {
    margin-right: .5rem;
}

.footer .btn:last-child {
    margin-right: inherit;
}

.btn {
    background: none;
    border: none;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: .2em;
    font-size: inherit;
    color: white;
}

.btn.btn-primary {
    background-color: #1CA;
}


.btn.btn-primary:hover, .btn.btn-primary:focus {
    background-color: #0C8;
}

.btn.btn-secondary {
    background-color: #c33;
}

.btn.btn-secondary:hover, .btn.btn-primary:focus {
    background-color: #A11;
}






