* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Cambria;
}

.full-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100vh;
    background: url('./img/header_image.jpg');
    background-size: cover;
    background-position-x: 40%;
    background-position-y: center;
    
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em .7em;
}

.nav-top {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1B2522;
}

.nav img {
    width: 70px;
    height: 50px;
}

.nav-links {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}


.nav-links li a {
    text-decoration: none;
    color: #CCC;
    margin-left: 1rem;
}

.header {
    font-size: 3rem;
    margin: 0;
    margin-bottom: .3em;
}

.header-caption {
    font-size: 1.5rem;
    margin: 0;
}

.btn {
    padding: .5em;
    background-color: hsl(200, 100%, 50%);
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10000px;
    margin-top: 10px;
    text-decoration: none;
}

.btn:hover, .btn:focus {
    background-color: hsl(200, 100%, 40%);
}

.arrow-img {
    position: absolute;
    bottom: 1em;
    width: 20px;
}

.section {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.section-title {
    font-size: 2rem;
    margin: 0;
    margin-bottom: .5em;
    text-align: center;
}

.section-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 450px));
    row-gap: 10px;
    column-gap: 40px;
    
}

.section-grid-item img {
   width: 50px;
   margin-right: 1em;
}

.section-grid-item {
    display: flex;
    align-items: center;

}

.section-2 {
    background-color: hsl(200, 100%, 50%);
    color: white;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title-2 {
     margin: 0;
     font-size: 2rem;
     text-transform: uppercase;
}

.section-2-content {
    font-size: 1.2rem;
    max-width: 500px;
    text-align: center;
}

.form-section {
     display: flex;
    flex-direction: column; 
    padding: 2rem;
}

label, input, textarea {
    display: block;
    width: 100%;
    margin: .5em;
}

input {
    padding: .3rem;
}

label {
    font-weight: 600;
}

.sub-btn {
    display: block;
    justify-self: flex-end;
}

.nav-bottom {
    background-color: #1B2522;
}