* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    background-color: black;
    align-items: center;
    color: white;
    height: 5lvh;
}

.brand-name {
    width: 20%;
}

.nav {
     display: flex;
     width: 80%;
     justify-content: flex-end;
     padding: 0;
}

.nav-name {
   
    list-style: none;
    display: inline;
    margin: .2rem;
    cursor: pointer;
    padding: .4em .4em;
    
}

.nav-name:hover, .nav-name:focus  {
    background-color: gray;
    height: 50vh;
}
