* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0 .4rem;
}



.nav-name {
    list-style: none;
    padding: .5em;
  
   
}

.nav-list {
    display: flex;
    margin: 0;
}

.nav-name:hover {
    background-color: gray;
}